.app {
  text-align: center;
}

.app-header {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mask-on {
  background-color: red;
}
.mask-off {
  background-color: green;
}

.map {
  height: 100vh;
}